div{
    border: 2px solid;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 3.5fr;
    gap: 5px;
    margin: 5px;
}

.header, .sidebar, .main-content{
    gap: 5px;
    margin: 5px;
}
.header{
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2 / span 2;
    background-color: rgba(74, 74, 78, 0.37);
}
.sidebar{
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color: rgb(47, 47, 170);
    grid-template-rows: 50px 250px 200px;
    grid-template-columns: 1fr;
    align-content: start;
    align-items: start;
}
.main-content{
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(121, 121, 124);
}
.dashboard, .main-section, .extra-section, .user-info, .projects, .right-side, .announcement, .announcement-list, .trending, .trending-list, .bar{
    display: grid;
    gap: 5px;
    margin: 5px;
}

.dashboard, .main-section > * , .extra-section > *{
display: flex;
align-items: center;
justify-content:baseline;
gap: 5px;;
}

.search-area{
    width: 90%;
    margin-left: 5px;
    justify-self: end;
}
.projects{
    grid-row: 1/ span 3;
    grid-column: 1;
}
.right-side{
    grid-row: 1 / span 3;
    grid-column: 2;
}
.buttons{
    display: flex;
}
.search-bar{
display: flex;
align-items: space-evenly;
}
.header-icons{
width: auto;
height: 25px;
}