body {
    font-family: system-ui, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }


div{
    border: 2px solid;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 3.5fr;
    gap: 5px;
    margin: 5px;
}

.header, .sidebar, .main-content{
    gap: 5px;
    margin: 5px;
}
.header{
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2 / span 2;
}
.sidebar{
    grid-row: 1 / span 2;
    grid-column: 1;
    grid-template-rows: 50px 250px 200px;
    grid-template-columns: 1fr;
    align-content: start;
    align-items: start;
    background-color: #0ea5e9;
}
.main-content{
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    background-color: #dbeafe;
}
.dashboard, .main-section, .extra-section, .user-info, .projects, .right-side, .announcement, .announcement-list, .trending, .trending-list, .bar{
    display: grid;
    gap: 5px;
    margin: 5px;
}

.dashboard, .main-section > * , .extra-section > *{
display: flex;
align-items: center;
justify-content:baseline;
gap: 5px;;
}

.search-area{
    width: 90%;
    margin-left: 5px;
    justify-self: end;
}
.projects{
    grid-row: 1/ span 3;
    grid-column: 1;
}
.right-side{
    grid-row: 1 / span 3;
    grid-column: 2;
}
.buttons{
    display: flex;
}
.search-bar{
display: flex;
align-items: space-evenly;
}
.header-icons{
width: auto;
height: 25px;
}

.trending-pics{
    width: auto;
    height: 50px;
    }
.trending-list > *{
    display: flex;
    align-items: center;
    justify-content:baseline;
    gap: 5px;;
}
.one, .two, .three, .four, .five, .six, .announcements, .trending-list{
    background-color: white;
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    align-items: stretch;
}
.one{
    grid-row: 1;
    grid-column: 1;
}
.two{
    grid-row: 1;
    grid-column: 2;
}
.three{
    grid-row: 2;
    grid-column: 1;
}
.four{
    grid-row: 2;
    grid-column: 2;
}
.five{
    grid-row: 3;
    grid-column: 1;
}
.six{
    grid-row: 3;
    grid-column: 2;
}